.frame-child {
    position: absolute;
    top: 172px;
    left: 501px;
  }
  .motor {
    position: relative;
  }
  .glico-wrapper,
  .motor-wrapper {
    position: absolute;
    top: 5px;
    left: 514px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .glico-wrapper {
    left: 689px;
  }
  .frame-item {
    position: relative;
    background-color: #3cdc2e;
    width: 12px;
    height: 12px;
  }
  .approved-parent {
    position: absolute;
    top: 5px;
    left: 911px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
  }
  .frame-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e7f7e9;
    width: 1047px;
    height: 60px;
    overflow: hidden;
  }
  .frame-inner {
    position: relative;
    background-color: #a19c9c;
    width: 12px;
    height: 12px;
  }
  .king-brow-wrapper,
  .maijagmailcom-wrapper {
    position: absolute;
    top: 0.98px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .maijagmailcom-wrapper {
    top: 0;
    left: 193px;
  }
  .group-div {
    position: relative;
    width: 403px;
    height: 50.98px;
  }
  .rectangle-parent {
    position: absolute;
    top: 6px;
    left: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    color: #000;
  }
  .frame-group {
    position: absolute;
    top: 463px;
    left: 0;
    width: 1047px;
    height: 60px;
  }
  .rectangle-div {
    position: relative;
    background-color: #f82222;
    width: 12px;
    height: 12px;
  }
  .declined-parent {
    position: absolute;
    top: 5px;
    left: 910px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
  }
  .frame-parent2 {
    position: relative;
    width: 413px;
    height: 50.98px;
  }
  .frame-parent,
  .frame-parent1 {
    position: absolute;
    top: 520px;
    left: 0;
    width: 1047px;
    height: 60px;
  }
  .frame-parent {
    top: 429px;
    left: 366px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #c2bcbc;
    box-sizing: border-box;
    height: 585px;
    overflow: hidden;
  }
  .group-icon {
    position: relative;
    width: 28px;
    height: 25px;
  }
  .group-container {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #22577a;
    width: 198px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    color: inherit;
  }
  .frame-wrapper {
    position: relative;
    width: 198px;
    height: 53px;
    cursor: pointer;
  }
  .frame-child2,
  .vector-icon {
    position: relative;
    width: 24px;
    height: 24px;
  }
  .vector-icon {
    width: 22px;
    height: 22px;
    z-index: 0;
  }
  .vector-icon1 {
    position: absolute;
    margin: 0 !important;
    height: 60.05%;
    width: 75%;
    top: 5.03%;
    right: -5%;
    bottom: 34.92%;
    left: 30%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 1;
  }
  .vector-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 10px;
  }
  .frame-wrapper3,
  .vector-icon2 {
    position: relative;
    width: 198px;
    height: 53px;
  }
  .vector-icon2 {
    width: 22px;
    height: 22px;
  }
  .group-parent,
  .vector-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .group-parent {
    position: absolute;
    top: 225px;
    left: 65px;
    flex-direction: column;
    padding: 52px 0;
    gap: 44px;
  }
  .frame-child4 {
    position: relative;
    width: 35px;
    height: 35px;
  }
  .group-parent2 {
    text-decoration: none;
    background-color: #22577a;
    width: 198px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    color: inherit;
  }
  .frame-wrapper5 {
    position: absolute;
    top: 903px;
    left: 77px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
  }
  .frame-parent3 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #22577a;
    width: 351px;
    height: 1024px;
    overflow: hidden;
    font-size: 27px;
    color: #fafafa;
    font-family: Inter;
  }
  .approved-child {
    position: absolute;
    top: 99.5px;
    left: 395.5px;
    border-top: 1px solid #c2bcbc;
    box-sizing: border-box;
    width: 987px;
    height: 1px;
  }
  .approvals1 {
    position: relative;
    display: inline-block;
    width: 191px;
    height: 67px;
    flex-shrink: 0;
  }
  .approvals-wrapper,
  .frame-wrapper6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .frame-wrapper6 {
    padding: 10px 68px;
  }
  .hello-john {
    position: relative;
    font-weight: 600;
  }
  .hello-john-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .vector-icon3,
  .vector-icon4 {
    position: relative;
    width: 20px;
    height: 17px;
  }
  .vector-icon4 {
    width: 5.46px;
    height: 3px;
  }
  .frame-wrapper7,
  .vector-group {
    display: flex;
    justify-content: flex-start;
  }
  .vector-group {
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  .frame-wrapper7 {
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
  }
  .vector-icon5 {
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 0;
  }
  .vector-icon6 {
    position: absolute;
    margin: 0 !important;
    height: 36.36%;
    width: 36.36%;
    top: 31.82%;
    right: 31.82%;
    bottom: 31.82%;
    left: 31.82%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 1;
  }
  .frame-child5 {
    border-radius: 60px;
    background-color: #d9d9d9;
    overflow: hidden;
  }
  .frame-parent6,
  .frame-parent7 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 36px;
    font-size: 20px;
    color: #b9b3b3;
  }
  .frame-parent6 {
    position: absolute;
    top: 31px;
    left: 368px;
    align-items: flex-start;
    gap: 351px;
    font-size: 35px;
    color: #22577a;
    font-family: Inter;
  }
  .phoenix {
    margin-block-start: 0;
    margin-block-end: 5px;
  }
  .insurance {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
  }
  .phoenix-insurance-txt-container {
    line-break: anywhere;
    width: 100%;
  }
  .phoenix-insurance {
    position: absolute;
    top: 6px;
    left: 14px;
    display: flex;
    align-items: center;
    width: 188px;
  }
  .frame-child6 {
    position: relative;
    width: 42px;
    height: 41px;
  }
  .group-parent4 {
    position: absolute;
    top: 66px;
    left: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 27px;
  }
  .phoenix-insurance-parent {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #fafafa;
    width: 225px;
    height: 113px;
    overflow: hidden;
    color: inherit;
  }
  .frame-wrapper9 {
    position: relative;
    width: 225px;
    height: 113px;
    cursor: pointer;
  }
  .group-parent5,
  .group-parent6 {
    position: absolute;
    top: 66px;
    left: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 17px;
    font-size: 27px;
  }
  .group-parent6 {
    gap: 14px;
  }
  .acacia-insurance-parent {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #fafafa;
    width: 225px;
    height: 113px;
    overflow: hidden;
    cursor: pointer;
    color: inherit;
  }
  .frame-wrapper11 {
    position: relative;
    width: 225px;
    height: 113px;
  }
  .group-parent3 {
    position: absolute;
    top: 28px;
    left: 6px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 20px;
    gap: 33px;
  }
  .approved-inner {
    position: absolute;
    top: 171px;
    left: 368px;
    border-radius: 27px;
    background-color: #eae5e5;
    width: 1055px;
    height: 168px;
    overflow: hidden;
    font-size: 25px;
    color: #b9b3b3;
    font-family: Inter;
  }
  .frame-child10 {
    position: relative;
    border-radius: 20px 20px 0 0;
    background-color: #22577a;
    width: 1047px;
    height: 48px;
    z-index: 0;
  }
  .name {
    top: 8px;
    left: 65px;
    display: inline-block;
    width: 75px;
    height: 33px;
    flex-shrink: 0;
    z-index: 1;
  }
  .email,
  .ins-type,
  .name {
    position: absolute;
    margin: 0 !important;
  }
  .email {
    top: 12px;
    left: 273px;
    display: inline-block;
    width: 75px;
    height: 33px;
    flex-shrink: 0;
    z-index: 2;
  }
  .ins-type {
    top: 8px;
    left: 512px;
    width: 95px;
    z-index: 3;
  }
  .ins-company,
  .ins-type,
  .status {
    display: inline-block;
    height: 33px;
    flex-shrink: 0;
  }
  .ins-company {
    position: absolute;
    margin: 0 !important;
    top: 8px;
    left: 661px;
    width: 150px;
    z-index: 4;
  }
  .status {
    position: relative;
    width: 74px;
  }
  .approved-inner1,
  .rectangle-container,
  .status-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .status-wrapper {
    margin: 0 !important;
    position: absolute;
    top: 7px;
    left: 917px;
    flex-direction: row;
    z-index: 5;
  }
  .approved-inner1,
  .rectangle-container {
    flex-direction: column;
  }
  .rectangle-container {
    width: 1058px;
    position: relative;
    gap: 10px;
  }
  .approved-inner1 {
    position: absolute;
    top: 418px;
    left: 356px;
    width: 1091px;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
  }
  .frame-parent9 {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e7f7e9;
    width: 1047px;
    height: 60px;
    overflow: hidden;
    color: inherit;
  }
  .frame-parent10 {
    position: relative;
    width: 383px;
    height: 50.98px;
  }
  .frame-parent8 {
    position: absolute;
    top: 474px;
    left: 366px;
    width: 1047px;
    height: 60px;
    cursor: pointer;
  }
  .approved-container {
    position: absolute;
    top: 5px;
    left: 912px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
  }
  .frame-parent13 {
    position: relative;
    width: 402px;
    height: 50.98px;
  }
  .frame-parent11 {
    position: absolute;
    top: 534px;
    left: 366px;
    width: 1047px;
    height: 60px;
  }
  .frame-parent16 {
    position: relative;
    width: 374px;
    height: 50.98px;
  }
  .frame-parent14 {
    position: absolute;
    top: 594px;
    left: 366px;
    width: 1047px;
    height: 60px;
  }
  .frame-child17 {
    position: relative;
    background-color: #ff0404;
    width: 12px;
    height: 12px;
  }
  .declined-group {
    position: absolute;
    top: 4px;
    left: 910px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
  }
  .frame-parent19 {
    position: relative;
    width: 390px;
    height: 50.98px;
  }
  .frame-parent17 {
    position: absolute;
    top: 653px;
    left: 368px;
    width: 1047px;
    height: 60px;
  }
  .frame-parent22 {
    position: relative;
    width: 412px;
    height: 50.98px;
  }
  .frame-parent20 {
    position: absolute;
    top: 713px;
    left: 368px;
    width: 1047px;
    height: 60px;
  }
  .frame-parent25 {
    position: relative;
    width: 392px;
    height: 50.98px;
  }
  .frame-parent23 {
    position: absolute;
    top: 772px;
    left: 368px;
    width: 1047px;
    height: 60px;
  }
  .approved-parent3 {
    position: absolute;
    top: 5px;
    left: 909px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
  }
  .frame-parent28 {
    position: relative;
    width: 405px;
    height: 50.98px;
  }
  .frame-child25,
  .frame-parent26 {
    position: absolute;
    top: 832px;
    left: 368px;
    width: 1047px;
    height: 60px;
  }
  .frame-child25 {
    height: 45.45%;
    width: 5.76%;
    top: 27.27%;
    right: 89.34%;
    bottom: 27.27%;
    left: 4.9%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .search {
    position: absolute;
    top: 5px;
    left: 51px;
    font-weight: 300;
  }
  .group-parent8 {
    position: absolute;
    top: 362px;
    left: 703px;
    border-radius: 26px;
    background-color: #fff;
    border: 1px solid #cabbbb;
    box-sizing: border-box;
    width: 347px;
    height: 44px;
    overflow: hidden;
    color: #aea1a1;
  }
  .approved {
    position: relative;
    background-color: #fafafa;
    width: 100%;
    height: 1024px;
    text-align: left;
    font-size: 20px;
    color: #131313;
    font-family: Poppins;
  }

  body {
    margin: 0;
    line-height: normal;
  }
  