.frame-child {
    width: 35px;
    height: 35px;
  }
  .frame-child,
  .logout {
    position: relative;
  }
  .group-container {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #22577a;
    width: 198px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    color: inherit;
  }
  .frame-wrapper {
    position: absolute;
    top: 934px;
    left: 65px;
    width: 198px;
    height: 55px;
    cursor: pointer;
  }
  .frame-container,
  .frame-item {
    position: relative;
    width: 28px;
    height: 25px;
  }
  .frame-container {
    width: 198px;
    height: 53px;
    cursor: pointer;
  }
  .frame-inner {
    position: relative;
    width: 24px;
    height: 24px;
  }
  .group-parent1 {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #22577a;
    width: 198px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    cursor: pointer;
    color: inherit;
  }
  .group-div,
  .vector-icon {
    position: relative;
    width: 198px;
    height: 53px;
  }
  .vector-icon {
    width: 22px;
    height: 22px;
    z-index: 0;
  }
  .vector-icon1 {
    position: absolute;
    margin: 0 !important;
    height: 60.05%;
    width: 75%;
    top: 5.03%;
    right: -5%;
    bottom: 34.92%;
    left: 30%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 1;
  }
  .vector-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 10px;
  }
  .vector-icon2 {
    position: relative;
    width: 22px;
    height: 22px;
  }
  .frame-div,
  .vector-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-div {
    position: absolute;
    top: 225px;
    left: 65px;
    flex-direction: column;
    padding: 52px 0;
    gap: 44px;
  }
  .group-parent {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #22577a;
    width: 351px;
    height: 1024px;
    overflow: hidden;
  }
  .chat-page-child {
    position: absolute;
    top: 99.5px;
    left: 395.5px;
    border-top: 1px solid #c2bcbc;
    box-sizing: border-box;
    width: 987px;
    height: 1px;
  }
  .user-data-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 68px;
  }
  .hello-john {
    position: relative;
    font-weight: 600;
  }
  .hello-john-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .vector-icon3,
  .vector-icon4 {
    position: relative;
    width: 20px;
    height: 17px;
  }
  .vector-icon4 {
    width: 5.46px;
    height: 3px;
  }
  .frame-wrapper4,
  .vector-group {
    display: flex;
    justify-content: flex-start;
  }
  .vector-group {
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  .frame-wrapper4 {
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
  }
  .vector-icon5 {
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 0;
  }
  .vector-icon6 {
    position: absolute;
    margin: 0 !important;
    height: 36.36%;
    width: 36.36%;
    top: 31.82%;
    right: 31.82%;
    bottom: 31.82%;
    left: 31.82%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 1;
  }
  .frame-child1 {
    border-radius: 60px;
    background-color: #d9d9d9;
    overflow: hidden;
  }
  .frame-parent1,
  .frame-parent2 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 40px;
    font-size: 20px;
    color: #b9b3b3;
  }
  .frame-parent1 {
    position: absolute;
    top: 31px;
    left: 368px;
    align-items: flex-start;
    gap: 351px;
    font-size: 35px;
    color: #22577a;
  }
  .phoenix {
    margin-block-start: 0;
    margin-block-end: 5px;
  }
  .insurance {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
  }
  .phoenix-insurance-txt-container {
    line-break: anywhere;
    width: 100%;
  }
  .phoenix-insurance {
    position: absolute;
    top: 6px;
    left: 14px;
    display: flex;
    align-items: center;
    width: 188px;
  }
  .frame-child2 {
    position: relative;
    width: 42px;
    height: 41px;
  }
  .group-parent4 {
    position: absolute;
    top: 66px;
    left: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 27px;
  }
  .phoenix-insurance-parent {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #fafafa;
    width: 225px;
    height: 113px;
    overflow: hidden;
    color: inherit;
  }
  .frame-wrapper6 {
    position: relative;
    width: 225px;
    height: 113px;
    cursor: pointer;
  }
  .group-parent5,
  .group-parent6 {
    position: absolute;
    top: 66px;
    left: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 17px;
    font-size: 27px;
  }
  .group-parent6 {
    gap: 14px;
  }
  .acacia-insurance-parent {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #fafafa;
    width: 225px;
    height: 113px;
    overflow: hidden;
    cursor: pointer;
    color: inherit;
  }
  .frame-wrapper8 {
    position: relative;
    width: 225px;
    height: 113px;
  }
  .group-parent3 {
    position: absolute;
    top: 28px;
    left: 6px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 20px;
    gap: 33px;
  }
  .chat-page-inner,
  .frame-child6 {
    position: absolute;
    overflow: hidden;
  }
  .chat-page-inner {
    top: 171px;
    left: 368px;
    border-radius: 27px;
    background-color: #eae5e5;
    width: 1055px;
    height: 168px;
    font-size: 25px;
    color: #b9b3b3;
  }
  .frame-child6 {
    height: 40.91%;
    width: 5.19%;
    top: 29.55%;
    right: 89.63%;
    bottom: 29.55%;
    left: 5.19%;
    max-width: 100%;
    max-height: 100%;
  }
  .search {
    position: absolute;
    top: 5px;
    left: 51px;
    font-weight: 300;
  }
  .group-parent8 {
    position: absolute;
    top: 366px;
    left: 703px;
    border-radius: 26px;
    width: 347px;
    height: 44px;
    overflow: hidden;
    font-size: 20px;
    font-family: Poppins;
  }
  .chat-kwame-obiri-wrapper,
  .frame-input {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .chat-kwame-obiri-wrapper {
    top: 8px;
    left: 41px;
    font-size: 16px;
    color: #746363;
  }
  .frame-input {
    border: 0;
    font-family: Poppins;
    font-size: 13px;
    background-color: #a8dcfa;
    top: 549px;
    left: calc(50% - 371px);
    border-radius: 25px;
    width: 746px;
    box-sizing: border-box;
  }
  .frame-input,
  .ive-been-approved {
    font-weight: 500;
  }
  .ive-been-approved-container {
    position: relative;
    line-height: 30px;
    display: inline-block;
    width: 198px;
    flex-shrink: 0;
  }
  .ive-been-approved-and-my-quot-wrapper {
    border-radius: 20px;
    background-color: #bbf6b6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .frame-wrapper10 {
    position: absolute;
    top: 52px;
    left: 41px;
    width: 919px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
  }
  .an-email-will {
    position: relative;
    line-height: 30px;
    font-weight: 500;
    display: inline-block;
    width: 198px;
    flex-shrink: 0;
  }
  .frame-wrapper11,
  .frame-wrapper12 {
    position: absolute;
    top: 152px;
    left: 51px;
    width: 909px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
  }
  .frame-wrapper12 {
    top: 272px;
    width: 899px;
  }
  .thank-you {
    position: relative;
    line-height: 30px;
    font-weight: 500;
    display: inline-block;
    width: 88px;
    flex-shrink: 0;
  }
  .thank-you-wrapper {
    border-radius: 20px;
    background-color: #bbf6b6;
    width: 87px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
  }
  .frame-parent3,
  .frame-wrapper13 {
    position: absolute;
    box-sizing: border-box;
  }
  .frame-wrapper13 {
    top: 412px;
    left: 51px;
    width: 884px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    text-align: center;
  }
  .frame-parent3 {
    top: 374px;
    left: 388px;
    border-radius: 20px;
    background-color: #e7f7e9;
    border: 1px solid #eae5e5;
    width: 1010px;
    height: 632px;
    overflow: hidden;
    font-size: 10px;
    color: #000;
    font-family: Poppins;
  }
  .chat-page {
    position: relative;
    background-color: #fafafa;
    width: 100%;
    height: 1024px;
    text-align: left;
    font-size: 27px;
    color: #fafafa;
    font-family: Inter;
  }

  body {
    margin: 0;
    line-height: normal;
  }
  