.frame-child {
    width: 35px;
    height: 35px;
  }
  .frame-child,
  .logout {
    position: relative;
  }
  .group-container {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #22577a;
    width: 198px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    color: inherit;
  }
  .frame-wrapper {
    position: absolute;
    top: 934px;
    left: 65px;
    width: 198px;
    height: 55px;
    cursor: pointer;
  }
  .frame-container,
  .frame-item {
    position: relative;
    width: 28px;
    height: 25px;
  }
  .frame-container {
    width: 198px;
    height: 53px;
  }
  .frame-inner,
  .group-div {
    position: relative;
    width: 24px;
    height: 24px;
  }
  .group-div {
    width: 198px;
    height: 53px;
    cursor: pointer;
  }
  .vector-icon {
    position: relative;
    width: 22px;
    height: 22px;
    z-index: 0;
  }
  .vector-icon1 {
    position: absolute;
    margin: 0 !important;
    height: 60.05%;
    width: 75%;
    top: 5.03%;
    right: -5%;
    bottom: 34.92%;
    left: 30%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 1;
  }
  .vector-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 10px;
  }
  .vector-icon2 {
    position: relative;
    width: 22px;
    height: 22px;
  }
  .vector-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-nav,
  .group-parent {
    position: absolute;
    font-size: 27px;
    color: #fafafa;
  }
  .frame-nav {
    margin: 0;
    top: 225px;
    left: 65px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 52px 0;
    gap: 44px;
    cursor: pointer;
    text-align: left;
    font-family: Inter;
  }
  .group-parent {
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #22577a;
    width: 351px;
    height: 1024px;
    overflow: hidden;
  }
  .dashboard-child {
    position: absolute;
    top: 99.5px;
    left: 395.5px;
    border-top: 1px solid #c2bcbc;
    box-sizing: border-box;
    width: 987px;
    height: 1px;
  }
  .dashboard-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 68px;
  }
  .hello-john {
    position: relative;
    font-weight: 600;
  }
  .hello-john-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .vector-icon3,
  .vector-icon4 {
    position: relative;
    width: 20px;
    height: 17px;
  }
  .vector-icon4 {
    width: 5.46px;
    height: 3px;
  }
  .frame-wrapper4,
  .vector-group {
    display: flex;
    justify-content: flex-start;
  }
  .vector-group {
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  .frame-wrapper4 {
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
  }
  .vector-icon5 {
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 0;
  }
  .vector-icon6 {
    position: absolute;
    margin: 0 !important;
    height: 36.36%;
    width: 36.36%;
    top: 31.82%;
    right: 31.82%;
    bottom: 31.82%;
    left: 31.82%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 1;
  }
  .frame-child1 {
    border-radius: 60px;
    background-color: #d9d9d9;
    overflow: hidden;
  }
  .frame-div,
  .frame-parent1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 40px;
    font-size: 20px;
    color: #b9b3b3;
  }
  .frame-parent1 {
    margin: 0;
    position: absolute;
    top: 31px;
    left: 368px;
    align-items: flex-start;
    gap: 351px;
    text-align: left;
    font-size: 35px;
    color: #22577a;
    font-family: Inter;
  }
  .phoenix {
    margin-block-start: 0;
    margin-block-end: 5px;
  }
  .insurance {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
  }
  .phoenix-insurance-txt-container {
    line-break: anywhere;
    width: 100%;
  }
  .phoenix-insurance {
    position: absolute;
    top: 6px;
    left: 14px;
    display: flex;
    align-items: center;
    width: 188px;
  }
  .frame-child2 {
    position: relative;
    width: 42px;
    height: 41px;
  }
  .group-parent4 {
    position: absolute;
    top: 66px;
    left: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 27px;
  }
  .phoenix-insurance-parent {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #fafafa;
    width: 225px;
    height: 113px;
    overflow: hidden;
    color: inherit;
  }
  .frame-wrapper6 {
    position: relative;
    width: 225px;
    height: 113px;
    cursor: pointer;
  }
  .group-parent5,
  .group-parent6 {
    position: absolute;
    top: 66px;
    left: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 17px;
    font-size: 27px;
  }
  .group-parent6 {
    gap: 14px;
  }
  .acacia-insurance-parent {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #fafafa;
    width: 225px;
    height: 113px;
    overflow: hidden;
    cursor: pointer;
    color: inherit;
  }
  .frame-wrapper8 {
    position: relative;
    width: 225px;
    height: 113px;
  }
  .group-parent3 {
    position: absolute;
    top: 28px;
    left: 6px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 20px;
    gap: 33px;
  }
  .dashboard-inner {
    position: absolute;
    top: 171px;
    left: 368px;
    border-radius: 27px;
    background-color: #eae5e5;
    width: 1055px;
    height: 168px;
    overflow: hidden;
    font-size: 25px;
  }
  .rectangle-div {
    position: relative;
    background: linear-gradient(178.81deg, #ff0404, rgba(249, 0, 0, 0.46));
    width: 72px;
    height: 231px;
  }
  .new-entries-wrapper {
    border-bottom: 1px solid #b9b3b3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .rectangle-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 11px;
  }
  .frame-wrapper10 {
    width: 124px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .frame-child6 {
    position: relative;
    background: linear-gradient(178.81deg, #ff00d6, rgba(142, 22, 123, 0.54));
    width: 72px;
    height: 194px;
  }
  .frame-child7 {
    position: relative;
    background: linear-gradient(155deg, #00fff0, rgba(46, 217, 207, 0.35));
    width: 72px;
    height: 135px;
  }
  .frame-parent2 {
    width: 594px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 120px;
  }
  .dashboard-inner1,
  .frame-child8 {
    position: absolute;
    overflow: hidden;
  }
  .dashboard-inner1 {
    top: 475px;
    left: 554px;
    border-radius: 20px;
    background-color: #faf3f3;
    border: 1px solid #ccc5c5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 35px 26px;
  }
  .frame-child8 {
    height: 45.45%;
    width: 5.76%;
    top: 27.27%;
    right: 89.34%;
    bottom: 27.27%;
    left: 4.9%;
    max-width: 100%;
    max-height: 100%;
  }
  .search {
    position: absolute;
    top: 5px;
    left: 51px;
    font-weight: 300;
  }
  .group-parent8 {
    position: absolute;
    top: 366px;
    left: 703px;
    border-radius: 26px;
    background-color: #fff;
    border: 1px solid #cabbbb;
    box-sizing: border-box;
    width: 347px;
    height: 44px;
    overflow: hidden;
    color: #aea1a1;
    font-family: Poppins;
  }
  .dashboard {
    position: relative;
    background-color: #fafafa;
    width: 100%;
    height: 1024px;
    text-align: left;
    font-size: 20px;
    color: #b9b3b3;
    font-family: Inter;
  }

  body {
    margin: 0;
    line-height: normal;
  }
  